__pycache__/
calculation/output/
calculation/*.o
calculation/calc_ps
calculation/calc_mean
calculation/one_point_pdf
calculation/peak_2d
output/
training_data/
val_data/
test_data/
tmp/
xxx/

# Jupyter Notebook checkpoints
image/.ipynb_checkpoints/
explain/.ipynb_checkpoints/

# Python virtual environments
*_venv/

# Images
image/*.png
*.png